aiodns
aiohttp
aiohttp-json-rpc
aiosignal
apsw
asttokens
async-timeout
attrs
Babel
backcall
black
Brotli
cffi
charset-normalizer
click
contextlib2
decorator
discord.py
distro
executing
frozenlist
idna
importlib-metadata
ipdb
ipython
jedi
Markdown
markdown-it-py
matplotlib-inline
mdurl
multidict
mypy-extensions
orjson
packaging
parso
pathspec
pexpect
pickleshare
platformdirs
prompt-toolkit
psutil
ptyprocess
pure-eval
pycares
pycparser
Pygments
python-dateutil
pytz
PyYAML
rapidfuzz
Red-Commons
Red-DiscordBot
Red-Lavalink
rich
schema
six
stack-data
tomli
traitlets
typing_extensions
uvloop
wcwidth
yarl
zipp
